<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <title>Feisal Ostebiks</title>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>


    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyDP5WLOzwXdaD3ysgT2BXLLfvVtIRzPedA",
            authDomain: "feisalostebik.firebaseapp.com",
            databaseURL: "https://feisalostebik.firebaseio.com",
            projectId: "feisalostebik",
            storageBucket: "feisalostebik.appspot.com",
            messagingSenderId: "917688306321",
            appId: "1:917688306321:web:3cadfdf48853a11b7fcd30"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>
</head>

<body>