<nav>
    <ul>
        <li><a href="/productCategory">ost</a></li>
        <li><a href="/vine">vin</a></li>
        <li><a href="/Broed">brød</a></li>
        <li><a href="/Kontakt">kontact</a></li>

    </ul>
</nav>
</div>