<% include ../partials/head %>
<% include ../partials/header %>
<% include ../partials/nav %>


<main class="frontPage-main">

    <article class="article">
        <section class="all-headings">
            <h1 class="heading">Feisals ostebiks</h1>
            <h2 class="heading-2">ugens ost</h2>
        </section>
        <section class="infoSec">
            <img class="pHolder" src="https://via.placeholder.com/100" alt="caption">
            <div class="infoText">
                <h3>feta</h3>
                <p>Hard cheese lancashire cheese and wine. Boursin
                    parmesan swiss fondue cheese slices babybel cream
                    cheese red leicester. Cauliflower cheese fromage
                    jarlsberg mozzarella boursin cut the cheese
                    parmesan taleggio. Brie cottage cheese chalk and
                    cheese edam</p>

                <a href="" class="read-more">læs mere</a>
            </div>

        </section>
    </article>

</main>

<% include ../partials/after-main %>