<% include ../partials/head %>
<% include ../partials/header %>
<% include ../partials/nav %>

<main>
    <article class="page">
        <h1 class="productName">productname</h1>
        <div class="productGallery">

            <div class="gallery">
                <img class="productImg" src="https://via.placeholder.com/100" alt="">
                <div class="productSlide">

                </div>
            </div>
            <div class="productText">
                <div class="texts">

                    <p>Fromage smelly cheese cheesecake. Fromage emmental squirty cheese
                        monterey jack swiss smelly cheese goat queso. Cheddar cut the cheese
                        say cheese squirty cheese camembert de normandie emmental fondue
                        cauliflower cheese. Pecorino cheddar cheese and biscuits emmental
                        cheese and biscuits cheddar swiss cheddar. Cheese and wine bocconcini
                        cheesecake cheese triangles. </p>
                    <p>Parmesan feta cream cheese. Cottage cheese cheesy grin cheddar squirty
                        cheese goat the big cheese pepper jack melted cheese. Cheesy grin
                        bocconcini ricotta fromage frais ricotta everyone loves cut the cheese red
                        leicester. Cheesy feet taleggio jarlsberg cheesecake cheese triangles the
                        big cheese caerphilly mascarpone. Cream cheese danish fontina when the
                        cheese comes out everybody's happy.
                    </p>
                </div>
                <table class="table">
                    <tbody class="tbody">
                        <tr class="land">
                            <td class="country-title">land</td>
                            <td><span class="country-name"></span></td>
                        </tr>
                        <tr class="weight">
                            <td class="region-title">region</td>
                            <td><span class="region"></span></td>
                        </tr>
                        <tr class="price">
                            <td class="price-title">pris</td>
                            <td>DKK <span class="price-amount"> </span></td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </article>
    <div class="extraSec">
        <h2 class="extraImgTitle">Du er måske også interesseret i dette</h2>
        <div class="extraImgs">
            <img class="extraImg" src="https://via.placeholder.com/100" alt="caption">
            <img class="extraImg" src="https://via.placeholder.com/100" alt="caption">
            <img class="extraImg" src="https://via.placeholder.com/100" alt="caption">
            <img class="extraImg" src="https://via.placeholder.com/100" alt="caption">

        </div>

    </div>

</main>
<template id="template">
    <img class="productSlideImg" src="" alt="">
</template>
<script src="/assets/javascript/fs-get-product.js"></script>
<% include ../partials/after-main %>