.productName {
    margin: 1rem 2rem;
    text-transform: capitalize;
}

.productGallery {
    display: grid;
    grid-template-columns: 400px 1fr;
    margin: 2em;
}

.productSlide {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: 100 1fr;
    padding: 1em 0;
    gap: 1em;
}

.productSlide img:nth-child(1) {
    height: 300px;
    grid-column: 1/4;
    grid-row: 1;
}

.stars {
    list-style: none;
    border: black;
    color: wheat;
    display: flex;
    flex-direction: row-reverse;
}


/* .star:hover~* {
    cursor: pointer;
    color: green;

} */

.stars li:hover,
.stars li:hover~li {
    cursor: pointer;
    color: green;

}

.productText {
    display: grid;
    gap: 3em 0;
}

.texts {
    display: grid;
    width: 400px;
    grid-template-columns: 1fr;
    gap: 2em 0;

}

.extraSec {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
}

.extraImgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1em;
    gap: 2em;
}